html, body {
    min-height: 100%;
	height: 100%;
}
body{
    margin: 0;
    font-family: cursive;
    background-color: #018D8E;
}

.wrapper {
	min-height: 100%;
	padding-bottom: 52px;
    box-sizing: border-box;
}

input{
	padding: 7px;
	margin: 5px auto;
	border: 2px solid black;
    border-radius: 5px;
}

button{
	padding: 10px;
	margin: 5px;
	border: 2px solid black;
	border-radius: 5px;
	font-size: 13px;
}

.order-info{
	/*display: block;*/
	padding: 4px 0px 0px 23px;
	border-bottom: 2px solid black;
	background-color: #008A4E;
}

.order-info label{
	margin-right 6px;
}

.modal-bg {
	position: fixed;
	top: 0;
	width: 100%;
	left: 0;
	height: 100%;
	background: rgba(0,0,0,0.5);
	display: none;
}
.modal-window {
	position: absolute;
	top: 10%;
	left: 50%;
	/*//width: 200px;*/
	margin: 15px 0 0 -115px;
	/*//background: #fff;*/
	min-width: 250px;
	padding: 15px;
	text-align: center;
    width: 16%;
    border: 2px solid black;
    border-radius: 15px;
    background-color: #008A4E;
}


#input-file{
	border: none;
}

.line{
	margin: 10px;
	padding: 5px;
	display: inline-block !important;
	border: 2px solid black;
	border-radius: 7px;
        height: 373px;
    width: 274px;
    vertical-align: top;
	background-color: white;
}

.line label{
	display: block;
	padding: 2px 0;
}

.addButton{
	text-align: center;
}


footer{
    width: 100%;
    background: #C20A00;
    border-top: 2px solid black;
        height: 15%;
    min-width: 710px;
    margin-top: -119px;
}

.totalSum{
	background: grey;
    padding: 10px;
    border: 2px solid black;
    border-radius: 25px;
    position: absolute;
    right: 5%;
}

img {
	max-width: 150px;
	display: block;
	border: 2px solid black;
}